<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <arg name="extracted_path_" default="/media/mjy/Samsung_T5/linux/DX/data/forCalib0820/pcd_selected/" />
    <arg name="pcd_num_per_lidar_" default="36" />
    <arg name="icp_align_" default="1" />

    <node pkg="multi_lidar_calib" type="multi_lidar_calib" name="multi_lidar_calib" output="screen">
      <param name="extracted_path" value="$(arg extracted_path_)"/>
      <param name="pcd_num_per_lidar" value="$(arg pcd_num_per_lidar_)"/>
      <param name="icp_align" value="$(arg icp_align_)"/>
    </node>

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_mc" args="-d $(find multi_lidar_calib)/rviz_cfg/multi_lidar_calib.rviz" />
    </group>

</launch>
